#slider{
    background-image: url(images/hotel1.jpg);
    display            : cover;
    background-position: center;
    height             : 100vh;
    text-align         : center;
    display            : flex;
    align-items        : center;
    

}
.hotel-booking-table{
    position: relative;
    bottom: 175px;
    color: white;
}

.accomodationbtn {
    position: relative;
    bottom: 50px;
}
.accomodation .hotel-img img{
    height: 263px;
    width: 270px;
}
@media screen and (min-width: 320px) {
    .hotel-booking-table{
        position: relative;
        bottom: 100px;
        color: white;
    } 
}