#slider{
    background-image: url(images/hotel1.jpg);
    display            : cover;
    background-position: center;
    height             : 100vh;
    text-align         : center;
    display            : flex;
    align-items        : center;
    

}
.hotel-booking-table{
    position: relative;
    bottom: 175px;
    color: white;
}

.accomodationbtn {
    position: relative;
    bottom: 50px;
}
#accomodation img{
    height: 263;
    width: 270;
}